{% extends 'interaction/base.html' %}

{% block title %} About {% endblock %}

{% block content %} Идея:
с помощью простого WI-FI датчика c размерами 4х4х2 см и стоимостью порядка 5$ (свободно помещаемого в удлиненный подрозетник) сайт производителя с API <a>https://tasmota.github.io/docs/</a> )  реализовывается возможность умного дома без использования большого кол-ва кабеля, серверного оборудования и т.д.
Область применения:
Имеется база отдыха с множеством гостевых домов и комнат.
В каждой комнате имеется много потребителей электричества, таких как: свет верхний, торшер, утюг, чайник и т.д.
При заселении в дом отдыха, каждый гость регистрируется на сайте дома отдыха, администратор вносит локации, которые будут доступны гостю, для управления электроприборами.
Так же программа, может работать в частных домах, квартирах, офисах везде, где есть сеть WI-FI и приборы потребления электричества.

{% endblock %}
