{% extends 'interaction/base.html' %}

{% block title %} Commands {% endblock %}

{%  load static %}

{% block content %}

   <div class="form-group">

   </div>
<a  class="list-group-item list-group-item-action active">Список всех датчиков</a>
    {% for ip in  all_ip_sensors %}
        <div class="list-group">
  <a href="{% url 'ip_sensor' ip.ip_sensor %}" class="list-group-item list-group-item-action ">{{ ip.ip_sensor }}
        <span class="badge bg-light text-dark">{{ ip.status }}</span>
        <span class="badge bg-light text-dark">{{ ip.descriptions_sensor }}</span></a>

</div>

    {% endfor %}


{% endblock %}