{% extends 'interaction/base.html' %}

{% block title %} Commands {% endblock %}

{#<script src="/js/js_commands.js"></script>#}


{% block content %}

   <div class="form-group">
   <label for="title" >Включение выключение датчиков</label>
   </div>

    <select class="form-select" >
  <option selected>Insert IP sensor</option>
  <option value="1">192.168.0.89</option>
 </select>




<form action="{% url 'sensor' 'On' %}" method="POST">
{% csrf_token %}
    <button type="submit" class="btn btn-success">On</button>
{#<button type="submit" class="btn btn-success" on-click="switch('on')">On</button>#}
</form>

<form action="{% url 'sensor' 'off' %}" method="POST">
{% csrf_token %}
    <button type="submit" class="btn btn-danger">OFF</button>
 <button type="submit" class="btn btn-danger" on-click="switch('off')">OFF</button>
</form>

<form action="{% url 'next' %}" method="get">
{#                  {% csrf_token %}#}
    <button type="submit" class="btn btn-success">next</button>

</form>



{% endblock %}