{% extends 'interaction/base.html' %}

{% block title %} Commands {% endblock %}

{%  load static %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="{% static 'js/ajax.js' %}"></script>


{% block content %}
    <p>

   <div class="form-group">
   <label for="title" >Управление датчиком: <strong>{{ ip_sensor }}</strong></label>
   </div>


<div class="btn-group" >
<form action="{% url 'status_On_Off' ip_sensor 'ON' %}" method="POST">
{% csrf_token %}
{#    <button type="submit" class="btn btn-success">On</button>#}
<button  type="submit" id = 'click_ON' class="btn btn-success" onclick="on">On</button>
</form>

<form action="{% url 'status_On_Off' ip_sensor 'OFF' %}" method="POST">
{% csrf_token %}
{#    <button type="submit" class="btn btn-danger">OFF</button>#}
<button  type="submit" id = 'click_OFF' class="btn btn-danger" onclick="off">OFF</button>
</form>
</div>
</p>


     <div class="form-group">


   <label for="title" >Таблица настроек датчика</b> </label>


<table class="table">
  <thead>
    <tr>
      <th scope="col">Параметр</th>
      <th scope="col">Значение</th>
    </tr>
  </thead>
  <tbody>
  {% if status_sensor == 'down' %}
      <tr>
        <td>sensor down</td>
        <td>sensor down</td>
      </tr>
  {% else %}
    {% for key, value in sensor_dict.Status.items %}
    <tr>
      <td>{{ key }}</td>
      <td>{{ value }}</td>
      </tr>
   {% endfor %}
  {% endif %}


  </tbody>
</table>

</div>


{% endblock %}