{% extends 'interaction/base.html' %}

{% block title %} Add permissions  {% endblock %}

{%  load static %}

{% block content %}
<body>
    <h2>Добавление гостя</h2>
    <form method="POST">
        {% csrf_token %}
        <p>
            <label>Введите имя</label><br>
            <input type="text" name="name" />
        </p>
        <p>
            <label>Выберите локацию</label><br>
            <div>
            {% for location in locations %}
                <input type="checkbox" name="location" value="{{location.id}}" />{{ location.name}} <br />
            {% endfor %}
            </div>
        </p>
        <input type="submit" value="Сохранить" >
    </form>
</body>
{% endblock %}