{% extends 'interaction/base.html' %}


{% block title %} Show guest {% endblock %}

{%  load static %}

{% block content %}

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Кнопка выпадающего списка
  </button>
     {% for guest in  all_guest %}
        <div class="list-group">
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">{{ guest }}</a></li>


  </ul>
        {% endfor %}
        {% for guest in  all_guest %}
            {{ guest }}
</div>
{% endfor %}

{% endblock %}